:root{
    --main-color:#4caf50;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family:system-ui;
    scroll-behavior: smooth;
    background-color: #222;
    color:#ccc;

    
}
.cruds{
    width: 70%;
    margin: auto;
}
/* start head */
.head{
text-align: center;
text-transform:uppercase ;
padding: 5px 0;
}
.head h2{
    color:var(--main-color)
}
/* end head */
/* start inputs */
.inputs input{
    width: 100%;
    outline: none;
    border:none;
    height: 30px;
    margin: 4px 0;
    background-color: #111;
    border-radius: 4px;
    padding: 3px;
    color: #fff;
   
    
}
.inputs input:focus{
    background-color:   var(--main-color);
    transform: scale(1.1);
    color:#fff;
}
.inputs .price input{
    width: 20%;

}
#total{
    background-color: var(--main-color);
    padding: 5px 10px;
    border-radius: 4px;
    color: #fff;

}
#total::before{
    content: "total:";
}
.inputs button{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background-color: var(--main-color);
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
}
button:hover{
    background-color: #69e26d;
    transform: scale(1.1);
    letter-spacing: 1px;
}
/* end inputs */
/* start outputs */
.outputs input{
    width: 100%;
    outline: none;
    border:none;
    height: 30px;
    margin: 4px 0;
    background-color: #111;
    border-radius: 4px;
    padding: 3px;
   
    
}
.outputs input:focus{
    background-color:   var(--main-color);
    transform: scale(1.1);
    color:#fff;
}
.outputs .btn{
 display: flex;
 justify-content: space-between;
}
.outputs .btn button{
    width: 45%;
    height: 30px;
    background-color: var(--main-color);
    border:none ;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
}
button:hover{
    background-color: #69e26d;
    transform: scale(1.1);
    letter-spacing: 1px;
}
button{
    
    height: 30px;
    background-color: var(--main-color);
    border:none ;
    outline: none;
    cursor: pointer;
    
    border-radius: 20px;
    padding: 0 10px;
    color:#fff
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
}
th,td{
    padding: 5px;
}


/* end outputs */



